<div class="row">
	<div class='col-lg-7'>
		<h5>CPU summary</h5>
		<div style="margin-left:0px;" id='cpuInfo'></div>
	</div>
	<div class='col-lg-5'>
		<h5>Load average</h5>
		<div style="margin-left:0px;" id='loadInfo'></div>
	</div>
	<div class='col-lg-7'>
		<h5>Physical memory summary</h5>
		<div style="margin-left:0px;" id='memoryInfo'></div>
	</div>
	<div class='col-lg-5'>
		<h5>track-db-001</h5>
		<hr>
		<strong>CPU:</strong> 4 cores.
	</div>
	<div class='row col-lg-7'>
		<div class='col-lg-6' style="margin-left:-10px;">
			<h5> Disk I/O utilization</h5>
			<div style="margin-left:0px;" id='disksInfo'></div>
		</div>
		<div class='col-lg-6' style="float:right;">
			<h5>Network I/O (Kb/s)</h5>
			<div style="margin-left:0px;" id='networkInfo'></div>
		</div>
	</div>
	<div class='col-lg-5'>
		<h5>Processes</h5>
		<hr>
	</div>
</div>
