<div class='col-lg-4'>
	<h5>Processes</h5>
	<div id='processes'>
		<div class='nav nav-stacked'>
			<li data-toggle="popover" data-placement="right" 
			     data-original-title="data to right" 
				data-content="And here's some amazing content. It's very engaging. right?">
				<a href=# data-toggle="popover" > mysql(root)<span class="badge pull-right">75M</span></a> 
			</li>
			<li data-toggle="processer">  <a href=# > mysql<span class="badge pull-right">75M</span></a> </li>
			<li data-toggle="processer">  <a href=# > mysql<span class="badge pull-right">75M</span></a> </li>
			<li data-toggle="processer">  <a href=# > mysql<span class="badge pull-right">75M</span></a> </li>
			<li data-toggle="processer">  <a href=# > mysql<span class="badge pull-right">75M</span></a> </li>
			<li data-toggle="processer">  <a href=# > mysql<span class="badge pull-right">75M</span></a> </li>
			<li data-toggle="processer">  <a href=# > mysql<span class="badge pull-right">75M</span></a> </li>
			<li>
			<a href="#" class="btn btn-lg btn-danger" data-toggle="processer" title="" 
				data-content="And here's some amazing content. It's very engaging. right?" 
				role="button" data-original-title="A Title">Click to toggle popover</a>
			</li>
		</div>
	</div>
</div>
<div class='col-lg-8'>
	<h5>Load average</h5>
	<div style="margin-left:0px;" id='loadInfo'></div>
</div>
<div class='col-lg-8 pull-right'>
	<h5>Physical memory summary</h5>
	<div style="margin-left:0px;" id='memoryInfo'></div>
</div>
<div class='col-lg-8 pull-right'>
	<h5>track-db-001</h5>
	<hr>
	<strong>CPU:</strong> 4 cores.
</div>
