<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title">Computer Manager</h3>
	</div>
	<div class="list-group">
		<a class="list-group-item"  href="/dashboard/" > DashBoard </a>
		<a class="list-group-item" href="/servers/" >Servers</a>
		<a class="list-group-item" href="/access/" >Access & Securety</a>
	</div>
</div>

<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title">Applications Manager</h3>
	</div>
	<div class="list-group">
		<a class="list-group-item" href="/applications/" >Applications</a>
		<a class="list-group-item" href="/docs/" >Docs</a>
	</div>
</div>
<div class="list-group ">
	<div class="row">
		<div class="col-lg-12">
			<div class="input-group">
				<div class="input-group-btn" data-toggle="dropdown">
					<button type="button" class="btn btn-default dropdown-toggle" 
						data-toggle="dropdown">Source<span class="caret"></span></button>
					<ul class="dropdown-menu" data-toggle="dropdown">
						<li><a href="#">Servers</a></li>
						<li><a href="#">Applications</a></li>
						<li><a href="#">Users</a></li>
						<li><a href="#">Others</a></li>
					</ul>
				</div><!-- /btn-group -->
				<input type="text" class="form-control" placeholder="search input">
			</div><!-- /input-group -->
		</div><!-- /.col-lg-6 -->
	</div><!-- /.row -->
</div>
