<table class="table table-bordered" style="border-top-width: 0; border-left-width: 0; border-bottom-width: 0; border-right-width: 0; ">
		<td colspan="3" class="col-lg-4" style="border-top-width: 0; border-left-width: 0; border-bottom-width: 0; border-right-width:1px;">
			<div id="instances-chart">
			</div>
		</td>
		<td colspan="" class="col-lg-8" style="border-top-width: 0; border-left-width: 0; border-bottom-width: 0; border-right-width: 0; ">
			<div id="usage">
				{% include "dashboard/quota.html" %}
			</div>
		</td>
</table>
